includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/suhock/dependency-injection-phpstan/extension.neon

parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/data/*

    checkImplicitMixed: true
    checkMissingOverrideMethodAttribute: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    reportAnyTypeWideningInVarTag: true
    reportIgnoresWithoutComments: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportWrongPhpDocTypeInVarTag: true
    ergebnis:
        allRules: false
        declareStrictTypes:
            enabled: true
        final:
            enabled: true
        finalInAbstractClass:
            enabled: true
        noCompact:
            enabled: true
        privateInFinalClass:
            enabled: true
        noErrorSuppression:
            enabled: true
        noEval:
            enabled: true
