<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       errorLevel="2">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="vendor"/>
            <!-- InjectorTest and ContextInjectorTest contains intersection types which causes Psalm to crash -->
            <file name="tests/FiveTwo/DependencyInjection/InjectorTest.php"/>
            <file name="tests/FiveTwo/DependencyInjection/Context/ContextInjectorTest.php"/>
        </ignoreFiles>
    </projectFiles>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
