<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       errorLevel="2">
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="vendor"/>
            <!-- InjectorTest and ContextInjectorTest contains intersection types which causes Psalm to crash -->
            <file name="tests/Suhock/DependencyInjection/InjectorTest.php"/>
            <file name="tests/Suhock/DependencyInjection/Context/ContextInjectorTest.php"/>
        </ignoreFiles>
    </projectFiles>

    <stubs>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionClass.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionFunctionAbstract.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionIntersectionType.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionMethod.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionNamedType.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionType.php"/>
        <file name="vendor/jetbrains/phpstorm-stubs/Reflection/ReflectionUnionType.php"/>
    </stubs>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
